{% extends 'Thoth_Gaming/base.html' %}
{% block page %}
    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col-9">
                <div class="card mt-lg-5">
                    <p class="card-header display-4 text-center">
                        Thank You For Your Visiting.
                    </p>
                </div>
                <div class="text-center">
                <a class="btn btn-info mt-lg-3" href="{% url 'Thoth_Gaming.urls:homepage' %}">برگشت به صفحه اصلی</a>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock page %}