{% extends 'Thoth_Gaming/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block page %}
    <div class="row">
    <div class="col-lg-3"></div>
    <div class ="col ml-lg-4 mt-lg-3">
        <div class="contain ml-lg-5">
            <p class="display-4 text-center">LOGIN</p>
            <form class="form-group pl-sm-1 pr-sm-1" method="post" action="{% url 'Thoth_Gaming.urls:users.urls:login' %}">
            {% bootstrap_form form %}
            {% csrf_token %}
            <input type="hidden" name="next" value="{% url 'Thoth_Gaming.urls:homepage' %}"/>
            <div class="text-center mt-lg-5">
                <button class="btn btn-success" type="submit">Login</button>
            </div>
            </form>
        </div>
    </div>
    <div class="col-sm-3"></div>
    </div>
{% endblock page %}