{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/CSS.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/footer.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">"
	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <title>BLog</title>
</head>
<body style="font-family: Comic Sans MS">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <!-- toggler -->
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
        <!-- Logo -->
        <a class="navbar-brand" href="{% url 'Thoth_Gaming.urls:homepage' %}">
            <img src="#" width="30" height="30" alt="">
            Game Sensei
        </a>
        <h class="navbar-brand">/</h>
        <a class="navbar-brand" href="{% url 'Thoth_Gaming.urls:Blog.urls:homepage' %}">
            بلاگ
        </a>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto ml-5">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="Drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       فروشگاه
                    </a>
                    <div class="dropdown-menu" aria-labelledby="Drop1">
                        <a class="dropdown-item" href="{% url 'Thoth_Gaming.urls:store' %}">Dota 2</a>
                        <a class="dropdown-item" href="#">CSGO</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        تماس با ما
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Thoth_Gaming.urls:users.urls:sepcial_order' %}">
                        درخواست ویژه
                    </a>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a class="navbar-text mt-0 mb-0 mr-sm-3" href="#">
                    Hello,( {{ request.user.username }} ) / <a class="navbar-text mt-0 mb-0 mr-sm-3" href="{% url 'Thoth_Gaming.urls:users.urls:logout' %}">Logout</a>
                </a>
                {% else %}
                <a class="navbar-text mt-0 mb-0 mr-sm-3" href="{% url 'Thoth_Gaming.urls:users.urls:user_dashboard' request.user.userdashboard.id %}">
                    Hello,( {{ request.user.username }} ) / <a class="navbar-text mt-0 mb-0 mr-sm-3" href="{% url 'Thoth_Gaming.urls:users.urls:logout' %}">Logout</a>
                </a>
                {% endif %}
            {% else %}
            <a class="navbar-text mt-0 mb-0 mr-sm-3" href="{% url 'Thoth_Gaming.urls:users.urls:register' %}">
                Register /<a class="navbar-text mt-0 mb-0 mr-sm-3" href="{% url 'Thoth_Gaming.urls:users.urls:login' %}">Login</a>
            </a>
            {% endif %}
            <a class="navbar-brand" href="{% url 'Thoth_Gaming.urls:cart' %}">
                <img width="30" height="30" src="{% static 'images/Cart.png' %}">
                <p class="badge badge-danger">{{ cartitems }}</p>
            </a>
        </div>

    </nav>

{% block content %}
{% endblock content %}
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Company Name</h3>
                    <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">Company Name © 2018</p>
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>