{% extends 'Thoth_Gaming/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block page %}
    <div class="container">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Rarity</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <th scope="row">
                            <img width="130" height="130" src="{{ item.items.picture.url }}">
                        </th>
                        <td class="pt-5">{{ item.items.name }}</td>
                        <td class="pt-5">{{ item.items.rarities }}</td>
                        <td class="pt-5">{{ item.quantity }}
                            <div class="btn-group btn-light">
                                <button data-item="{{ item.items.id }}" data-action="add" class="btn update_cart" style="background-color: white">
                                    <img width="18" height="18" src="{% static 'images/arrow-up.png' %}">
                                </button>
                                <button data-item="{{ item.items.id }}" data-action="remove" class="btn update_cart" style="background-color: white">
                                    <img width="18" height="18" src="{% static 'images/arrow-down.png' %}">
                                </button>
                            </div>
                        </td>
                        <td class="pt-5">{{ item.total }} تومان</td>
                        <td class="pt-5">
                            <button data-item="{{ item.items.id }}" data-action="delete" class="btn btn-danger update_cart">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        <div class="text-center">
            <ul class="nav flex-column">
                <li class="nav-item border-top mt-5" style="">
                    <p class="nav-link" style="" href="#"><b>تعداد آیتم ها : {{ order.cart_total_items }}</b></p>
                </li>
                <li class="nav-item">
                    <p class="nav-link" href="#">جمع مبالغ : {{ order.cart_total }}</p>
                </li>
                <li class="nav-item border-bottom pb-1 pt-1">
                {% if not request.user.is_authenticated %}
                    <form class="form" method="post" action="{% url 'Thoth_Gaming.urls:cart' %}">
                        {% bootstrap_form form %}
                        {% csrf_token %}
                        {% buttons%}
                        <button class="btn btn-success" name="submit" href="#">پرداخت</button>
                        {% endbuttons %}
                    </form>
                {% endif %}
                </li>
                <li class="nav-item border-bottom pb-1 pt-1">
                    <a class="btn btn-success" href="{% url 'Thoth_Gaming.urls:homepage' %}">برگشت به فروشگاه</a>
                </li>
            </ul>
        </div>

    </div>

{% endblock page %}